@font-face {
  font-family: 'Tabia Normal';
  src: url("../fonts/Tabia Normal.woff") format("woff");
}

@font-face {
  font-family: 'Tabia Medium';
  src: url("../fonts/Tabia Medium.woff") format("woff");
}

@font-face {
  font-family: 'Tabia Bold';
  src: url("../fonts/Tabia Bold.woff") format("woff");
}

@font-face {
  font-family: 'Tabia';
  src: url("../fonts/Tabia.woff") format("woff");
}

@font-face {
  font-family: 'Tahoma';
  src: url("../fonts/Tahoma.woff") format("woff");
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri.woff") format("woff");
}

body {
  color: #000000;
  font-family: 'Tabia Normal', sans-serif;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo a img {
  width: 100%;
}

.header-contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-telephone-icon {
  background-color: #ff6821;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 70px;
  margin-right: 10px;
}

.header-address address {
  padding: 0;
  margin: 0;
  text-align: right;
}

.header-address address p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Tabia Normal', sans-serif;
}

.header-address address a {
  font-family: 'Tabia Medium', sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: right;
}

.header-address address a span {
  color: #0d6e9f;
  font-size: 16px;
}

.header-menu {
  height: 60px;
  background-color: #ff6821;
  margin-top: 10px;
}

.header-menu-navigation {
  width: 100%;
  height: 60px;
}

.header-menu-navigation ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-navigation ul li {
  background-color: #ff6821;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header-menu-navigation ul li:hover, .header-menu-navigation ul li:focus, .header-menu-navigation ul li:active {
  background-color: #000000;
}

.header-menu-navigation ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu-navigation ul .header-active-link {
  background-color: #000000;
}

.header-background-intro {
  background-image: url("../img/header-intro-image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 460px;
}

.header-intro-text {
  background-color: rgba(3, 111, 167, 0.8);
  width: 835px;
  margin: 0 auto;
  padding: 20px 0;
}

.header-intro-text h1 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  margin-bottom: 10px;
}

.header-intro-text h1 span {
  color: #a9fcff;
}

.header-intro-text h2 {
  color: #ffffff;
  text-align: center;
  font-size: 33px;
  margin-bottom: 10px;
}

.header-intro-text h2 span {
  font-size: 27px;
}

.header-intro-text h2 span:nth-of-type(2) {
  font-size: 33px;
  font-family: 'Tabia Bold';
}

.services > .row {
  margin-top: -73px;
}

.service-item-wrapper {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.service-item-wrapper a {
  color: #000000;
  text-decoration: none;
}

.service-item-wrapper a:hover > h3,
.service-item-wrapper a:focus > h3 {
  background-color: #ff6821;
  color: #ffffff;
  cursor: pointer;
}

.service-item-wrapper a h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0 -5px #ff6821;
          box-shadow: 0 -5px #ff6821;
  padding: 15px 0;
  margin: 0;
  background-color: #ffffff;
}

.service-item-wrapper a img {
  width: 100%;
}

.quality {
  background-color: #036fa7;
}

.quality-title {
  color: #ffffff;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
}

.prices table {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px auto;
  font-family: 'Tabia', sans-serif;
  font-size: 18px;
}

.prices table tr {
  border-bottom: 1px solid #a0a0a0;
}

.cost {
  background-color: #036fa7;
}

.cost-title {
  color: #ffffff;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
}

.delivery-cost {
  margin-bottom: 20px;
}

.delivery-cost p {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Tabia', sans-serif;
}

.delivery-cost form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.delivery-cost form label {
  margin: 0;
  padding: 0;
}

.delivery-cost form input {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-family: 'Tahoma', sans-serif;
  text-transform: uppercase;
}

.delivery-cost form button {
  background-color: #ff6821;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Tabia', sans-serif;
  text-transform: uppercase;
}

.delivery-cost form button:hover, .delivery-cost form button:focus {
  cursor: pointer;
  -webkit-box-shadow: 0 0 0px 2px #ff6821 inset;
          box-shadow: 0 0 0px 2px #ff6821 inset;
  background-color: rgba(255, 104, 33, 0.3);
}

.item-delivery {
  background-color: #036fa7;
}

.item-delivery-title {
  color: #ffffff;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
}

.item-delivery-text p {
  font-family: 'Tahoma', sans-serif;
  font-size: 16px;
}

.item-delivery-text p b {
  font-weight: 700;
}

.item-delivery-text p a {
  color: #0000ee;
  font-family: 'Tabia Normal', sans-serif;
}

.item-delivery-text h2 {
  font-size: 24px;
}

.item-delivery-text h3 {
  font-size: 18px;
}

.features {
  background-color: #ff6821;
}

.features-title {
  font-size: 27px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.features-background {
  background-image: url("../img/features-background-iamge.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 520px;
}

.features-text-wrapper {
  padding-top: 60px;
}

.features-text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

.features-text ul {
  list-style-image: url("../img/list-style-image.png");
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-text ul li {
  font-size: 16px;
  font-family: 'Tahoma', sans-serif;
}

.concrete-grade {
  background-color: #036fa7;
}

.concrete-grade-title {
  color: #ffffff;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
}

.concrete-grade-text p {
  font-size: 24px;
  color: #f23f00;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Tabia', sans-serif;
}

.concrete-grade-text ul {
  font-family: 'Tahoma', sans-serif;
  list-style: none;
  padding: 0;
}

.concrete-grade-text ul li {
  margin-bottom: 20px;
}

.concrete-grade-text ul li span {
  color: #036fa7;
  font-size: 20px;
  font-weight: 700;
}

.footer {
  background-color: #093850;
}

.footer-menu-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #3a6073;
}

.footer-menu-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.footer-menu-navigation ul li a {
  color: #ffffff;
  text-transform: uppercase;
}

.footer-menu-navigation ul li a:hover, .footer-menu-navigation ul li a:focus, .footer-menu-navigation ul li a:active {
  color: #ffbd20;
  text-decoration: none;
}

.footer-menu-navigation ul .footer-active-link a {
  color: #ffbd20;
  text-decoration: underline;
}

.footer-menu-navigation ul .site-map a {
  background-color: #ff7800;
  color: #000000;
  font-size: 16px;
  padding: 5px 10px;
  text-decoration: none;
  font-family: 'Tabia Medium', sans-serif;
}

.footer-menu-navigation ul .site-map a:hover, .footer-menu-navigation ul .site-map a:focus {
  -webkit-box-shadow: 0 0 10px 3px rgba(255, 120, 0, 0.7);
          box-shadow: 0 0 10px 3px rgba(255, 120, 0, 0.7);
  color: #000000;
}

.footer-copyright {
  padding: 30px 0;
}

.footer-copyright-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright-text p {
  margin: 0;
  color: #92bfd6;
  font-family: 'Calibri', sans-serif;
  font-size: 14px;
}

.footer-copyright-address {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-copyright-address p {
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  font-family: 'Tabia', sans-serif;
}

.footer-copyright-address p span {
  color: #ffbd20;
}

.footer-copyright-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  background-color: #036fa7;
}

.about-title {
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.about-text p {
  font-family: 'Tahoma', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.delivery {
  background-color: #036fa7;
}

.delivery-title {
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.delivery-text p {
  font-family: 'Tahoma', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.prices-wrapper {
  background-color: #036fa7;
}

.prices-title {
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.prices-text table {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px auto;
  font-family: 'Tabia', sans-serif;
  font-size: 18px;
}

.prices-text table tr {
  border-bottom: 1px solid #a0a0a0;
}

.articles {
  background-color: #036fa7;
}

.articles-title {
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.articles-text p {
  font-family: 'Tahoma', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.contacts-text h3 {
  font-family: 'Tahoma', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.contacts-text address {
  font-size: 16px;
  margin-bottom: 10px;
}

.questiions-text h3 {
  font-family: 'Tahoma', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.sitemap-text ul {
  margin-bottom: 20px;
}

.sitemap-text ul li a {
  color: #551a8b;
}
/*# sourceMappingURL=styles.css.map */