@charset "UTF-8";
@font-face {
  font-family: 'Conv_Tabia Normal';
  src: url("../fonts/Tabia Normal.eot");
  src: local("☺"), url("../fonts/Tabia Normal.woff") format("woff"), url("../fonts/Tabia Normal.ttf") format("truetype"), url("../fonts/Tabia Normal.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Tabia Medium';
  src: url("../fonts/Tabia Medium.eot");
  src: local("☺"), url("../fonts/Tabia Medium.woff") format("woff"), url("../fonts/Tabia Medium.ttf") format("truetype"), url("../fonts/Tabia Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Tabia Bold';
  src: url("../fonts/Tabia Bold.eot");
  src: local("☺"), url("../fonts/Tabia Bold.woff") format("woff"), url("../fonts/Tabia Bold.ttf") format("truetype"), url("../fonts/Tabia Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Tabia';
  src: url("../fonts/Tabia.eot");
  src: local("☺"), url("../fonts/Tabia.woff") format("woff"), url("../fonts/Tabia.ttf") format("truetype"), url("../fonts/Tabia.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #000000;
  font-family: 'Conv_Tabia Normal', sans-serif;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo a img {
  width: 100%;
}

.header-contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-telephone-icon {
  background-color: #ff6821;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 70px;
  margin-right: 10px;
}

.header-address address {
  padding: 0;
  margin: 0;
  text-align: right;
}

.header-address address p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Conv_Tabia Normal', sans-serif;
}

.header-address address a {
  font-family: 'Conv_Tabia Medium', sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: right;
}

.header-address address a span {
  color: #0d6e9f;
  font-size: 16px;
}

.header-menu {
  height: 60px;
  background-color: #ff6821;
  margin-top: 10px;
}

.header-menu-navigation {
  width: 100%;
  height: 60px;
}

.header-menu-navigation ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-navigation ul li {
  background-color: #ff6821;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header-menu-navigation ul li:hover, .header-menu-navigation ul li:focus, .header-menu-navigation ul li:active {
  background-color: #000000;
}

.header-menu-navigation ul li a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-menu-navigation ul .header-active-link {
  background-color: #000000;
}

.header-background-intro {
  background-image: url("../img/header-intro-image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 460px;
}

.header-intro-text {
  background-color: rgba(3, 111, 167, 0.8);
  width: 835px;
  margin: 0 auto;
  padding: 20px 0;
}

.header-intro-text h1 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 27px;
  margin-bottom: 10px;
}

.header-intro-text h1 span {
  color: #a9fcff;
}

.header-intro-text h2 {
  color: #ffffff;
  text-align: center;
  font-size: 33px;
  margin-bottom: 10px;
}

.header-intro-text h2 span {
  font-size: 27px;
}

.header-intro-text h2 span:nth-of-type(2) {
  font-size: 33px;
  font-family: 'Conv_Tabia Bold';
}

.services > .row {
  margin-top: -73px;
}

.service-item-wrapper {
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.service-item-wrapper a {
  color: #000000;
  text-decoration: none;
}

.service-item-wrapper a:hover > h3,
.service-item-wrapper a:focus > h3 {
  background-color: #ff6821;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.service-item-wrapper a h3 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0 -5px #ff6821;
          box-shadow: 0 -5px #ff6821;
  padding: 15px 0;
  margin: 0;
  background-color: #ffffff;
}

.service-item-wrapper a img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */