@font-face {
  font-family: 'Tabia Normal';
  src: url("../fonts/TabiaNormal.ttf") format("truetype");
}

@font-face {
  font-family: 'Tabia Medium';
  src: url("../fonts/TabiaMedium.ttf") format("truetype");
}

@font-face {
  font-family: 'Tabia Bold';
  src: url("../fonts/TabiaBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Tabia';
  src: url("../fonts/Tabia.ttf") format("truetype");

}

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma.ttf') format('truetype');
}

@font-face {
  font-family: 'Calibri';
  src: url('../fonts/Calibri.ttf') format('truetype');
}

body {
  color: #000000;
  font-family: 'Tabia Normal', sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;

  a {
    img {
      width: 100%;
    }
  }
}

.header-contacts-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-telephone-icon {
  background-color: #ff6821;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 70px;
  margin-right: 10px;
}

.header-address {
  address {
    padding: 0;
    margin: 0;
    text-align: right;

    p {
      padding: 0;
      margin: 0;
      font-size: 20px;
      font-family: 'Tabia Normal', sans-serif;
    }

    a {
      font-family: 'Tabia Medium', sans-serif;
      font-size: 20px;
      color: #000000;
      text-align: right;

      span {
        color: #0d6e9f;
        font-size: 16px;
      }
    }
  }
}

.header-menu {
  height: 60px;
  background-color: #ff6821;
  margin-top: 10px;
}

.header-menu-navigation {
  width: 100%;
  height: 60px;

  ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      background-color: #ff6821;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &:hover,
      &:focus,
      &:active {
        background-color: #000000;
      }

      a {
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .header-active-link {
      background-color: #000000;
    }
  }
}

.header-background-intro {
  background-image: url("../img/header-intro-image.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  height: 460px;
}

.header-intro-text {
  background-color: rgba(3, 111, 167, 0.8);
  width: 835px;
  margin: 0 auto;
  padding: 20px 0;

  h1 {
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    margin-bottom: 10px;

    span {
      color: #a9fcff;
    }
  }

  h2 {
    color: #ffffff;
    text-align: center;
    font-size: 33px;
    margin-bottom: 10px;

    span {
      font-size: 27px;

      &:nth-of-type(2) {
        font-size: 33px;
        font-family: 'Tabia Bold';
      }
    }
  }
}

.services>.row {
  margin-top: -73px;
}

.service-item-wrapper {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;

  a {
    color: #000000;
    text-decoration: none;

    &:hover>h3,
    &:focus>h3 {
      background-color: #ff6821;
      color: #ffffff;
      cursor: pointer;
    }

    h3 {
      font-size: 18px;
      text-align: center;
      text-transform: uppercase;
      box-shadow: 0 -5px #ff6821;
      padding: 15px 0;
      margin: 0;
      background-color: #ffffff;
    }

    img {
      width: 100%;
    }
  }
}

.quality {
  background-color: #036fa7;
}

.quality-title {
  color: #ffffff;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
}

.prices {
  table {
    width: 100%;
    text-align: center;
    margin: 0 auto 20px auto;
    font-family: 'Tabia', sans-serif;
    font-size: 18px;

    tr {
      border-bottom: 1px solid #a0a0a0;
    }
  }
}

.cost {
  background-color: #036fa7;
}

.cost-title {
  color: #ffffff;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
}

.delivery-cost {
  margin-bottom: 20px;

  p {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Tabia', sans-serif;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;

    label {
      margin: 0;
      padding: 0;
    }

    input {
      padding: 10px 20px;
      margin-bottom: 10px;
      font-family: 'Tahoma', sans-serif;
      text-transform: uppercase;
    }

    button {
      background-color: rgba(255, 104, 33, 1.0);
      padding: 10px 20px;
      border: none;
      text-transform: uppercase;
      font-size: 24px;
      font-family: 'Tabia', sans-serif;
      text-transform: uppercase;

      &:hover,
      &:focus {
        cursor: pointer;
        box-shadow: 0 0 0px 2px #ff6821 inset;
        background-color: rgba(255, 104, 33, 0.3);
      }
    }
  }
}

.item-delivery {
  background-color: #036fa7;
}

.item-delivery-title {
  color: #ffffff;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
}

.item-delivery-text {
  p {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;

    b {
      font-weight: 700;
    }

    a {
      color: #0000ee;
      font-family: 'Tabia Normal', sans-serif;
    }
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }
}

.features {
  background-color: #ff6821;
}

.features-title {
  font-size: 27px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}

.features-background {
  background-image: url("../img/features-background-iamge.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 520px;
}

.features-text-wrapper {
  padding-top: 60px;
}

.features-text {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;

  ul {
    list-style-image: url('../img/list-style-image.png');
    padding-top: 20px;
    padding-bottom: 20px;

    li {
      font-size: 16px;
      font-family: 'Tahoma', sans-serif;
    }
  }
}

.concrete-grade {
  background-color: #036fa7;
}

.concrete-grade-title {
  color: #ffffff;
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  padding: 10px 0;
  margin-bottom: 10px;
}

.concrete-grade-text {
  p {
    font-size: 24px;
    color: #f23f00;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Tabia', sans-serif;
  }

  ul {
    font-family: 'Tahoma', sans-serif;
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 20px;

      span {
        color: #036fa7;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

.footer {
  background-color: #093850;
}

.footer-menu-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #3a6073;

  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 20px 0;

    li {
      a {
        color: #ffffff;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:active {
          color: #ffbd20;
          text-decoration: none;
        }
      }
    }

    .footer-active-link {
      a {
        color: #ffbd20;
        text-decoration: underline;
      }
    }

    .site-map {
      a {
        background-color: #ff7800;
        color: #000000;
        font-size: 16px;
        padding: 5px 10px;
        text-decoration: none;
        font-family: 'Tabia Medium', sans-serif;

        &:hover,
        &:focus {
          box-shadow: 0 0 10px 3px rgba(255, 120, 0, 0.7);
          color: #000000;
        }
      }
    }

  }
}

.footer-copyright {
  padding: 30px 0;
}

.footer-copyright-text {
  display: flex;
  align-items: center;

  p {
    margin: 0;
    color: #92bfd6;
    font-family: 'Calibri', sans-serif;
    font-size: 14px;
  }
}

.footer-copyright-address {
  margin: 0;
  display: flex;
  justify-content: center;

  p {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
    font-family: 'Tabia', sans-serif;

    span {
      color: #ffbd20;
    }
  }
}

.footer-copyright-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about {
  background-color: #036fa7;
}

.about-title {
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.about-text {
  p {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.delivery {
  background-color: #036fa7;
}

.delivery-title {
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.delivery-text {
  p {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.prices-wrapper {
  background-color: #036fa7;
}

.prices-title {
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.prices-text {
  table {
    width: 100%;
    text-align: center;
    margin: 0 auto 20px auto;
    font-family: 'Tabia', sans-serif;
    font-size: 18px;

    tr {
      border-bottom: 1px solid #a0a0a0;
    }
  }
}

.articles {
  background-color: #036fa7;
}

.articles-title {
  color: #ffffff;
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}

.articles-text {
  p {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contacts-text {
  h3 {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }

  address {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.questiions-text {
  h3 {
    font-family: 'Tahoma', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.sitemap-text {
  ul {
    margin-bottom: 20px;

    li {
      a {
        color: #551a8b;
      }
    }
  }
}
